{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "ios_saf >= 8",
          "not IE <= 10",
          "chrome >= 49",
          "firefox >= 49",
          "> 1%"
        ]
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread"]
  ]
}