{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser":  true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "import/no-mutable-exports": 0
  }
}
